.vector-1, .vector-4, .vector-5{
  max-width: 98.5vw;

}

.vector-1{
  position: absolute;
  width: 1544px;
  height: 152px;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.vector-4{
  position: absolute;
  width: 99%;
  height: 46vh;
  left: -0vw;
  top: 54vh;
  z-index: 2;
  background: transparent;
  transform: rotate(2.29deg);

}

.vector-5{
  position: absolute;
  height: 27vh;
  width: 99%;
  top: 63vh;
  left: -0vw;
  background: transparent;
  z-index:1;
}

.group-201{
  position:absolute;
  left:80vw;
  bottom:5.5vh;
  z-index: 2;
}

.ellipse-12{
  position: absolute;
    width: 10vw;
    right: 20px;
    top: 50%;
    z-index: 2;

}

.ellipse-13{
  position: absolute;
  height: 300px;
  top: 40%;
  z-index: 2;
}