*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightskyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}

#feedback-container.hidden {
  display: none;
}
.feedback-message {
  background-color: #f8d7da;
  border: 1px solid #cf9096;
  color: #721c24;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

h1{
  margin: 50px 0px;
  font-weight: 700;
  font-size: 32px;
  line-height: 99.5%;
  text-align: center;
  color: #134077;
}

/* da togliere */
.error {
  background: #f0b0b0;
  color: #0c0101;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.form-container{
  margin: 0 auto;
  border: 1px solid #134077;
  background: white;
  border-radius: 19px;
  padding: 30px 20px;
  width: 60%;
}