*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightskyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/* messaggi di feedback */
#feedback-container.hidden {
  display: none;
}
.feedback-message {
  background-color: #f8d7da;
  border: 1px solid #cf9096;
  color: #721c24;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

h1{
  margin: 50px 0px;
  font-weight: 700;
  font-size: 32px;
  line-height: 99.5%;
  text-align: center;
  color: #134077;
}


/* forms */
.form-container{
  margin: 0 auto;
  border: 1px solid #134077;
  background: white;
  border-radius: 19px;
  padding: 30px 20px;
  width: 60%;
  margin-bottom: 50px;
  text-align: center;
}

.form-container label{
  font-size: 15px;
  display:block;
  text-align: left;
  line-height: 99.5%;
  margin:20px 15px;
  font-weight: 700;
}

.form-container input{
  width:95%;
  border:none;
  border-bottom:1px solid #134077;
  margin:10px 0;
  font-size: 20px;
}

.form-container button{
  display: block;
  background: #0057FF; 
  border:none;
  border-radius: 11px;
  width:95%;
  height: 55px;
  color:white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin: 30px 15px;
  cursor: pointer;
}

.form-container button:hover{
  opacity: .8;
}

.form-container p{
  color: #134077;
  padding-bottom: 30px;
}
